<div class="container mt-5">
  <div class="row">
    <div class="col-lg-10 col-md-12">
      <div class="card">
        <div class="card-body text-center">
          <span><strong>BEM-VINDO(A)! AQUI VOCÊ ENCONTRA AS MELHORES EMBARCAÇÕES</strong></span>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-success float-end col-lg-2 col-md-12" routerLink="/add-ship">Cadastrar uma embarcação</button>
  </div>

  <main>
    <div class="album py-5 mt-3 bg-light row">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/ships/alenquer.jpg">

              <div class="card-body">
                <p class="card-text"><strong>Navio Amanda Letícia II</strong></p>
                <p class="card-text">Detalhes do navio</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary">Comprar Passagem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/ships/nhamunda.JPG">

              <div class="card-body">
                <p class="card-text"><strong>Navio Cidade de Nhamundá</strong></p>
                <p class="card-text">Detalhes do navio</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary">Comprar Passagem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/ships/oriximina.jpg">

              <div class="card-body">
                <p class="card-text"><strong>Navio Cidade de Oriximiná II</strong></p>
                <p class="card-text">Detalhes do navio</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary">Comprar Passagem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/ships/parintins.jpg">

              <div class="card-body">
                <p class="card-text"><strong>Navio Cidade de Parintins</strong></p>
                <p class="card-text">Detalhes do navio</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary">Comprar Passagem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/ships/santarem.jpg">

              <div class="card-body">
                <p class="card-text"><strong>Navio Anna Karoline VII</strong></p>
                <p class="card-text">Detalhes do navio</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary">Comprar Passagem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../assets/images/ships/tefe.jpg">

              <div class="card-body">
                <p class="card-text"><strong>Ferry Boat Letícia Sofia</strong></p>
                <p class="card-text">Detalhes do navio</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary">Comprar Passagem</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

